<div class="banner banner_home">
  <div class="wrapper">
    <h1>I will drastically improve your web tooling, applications and teams.</h1>
    <h2><a href="#expertise">Here is how</a></h2>
    <span class="clear"></span>
  </div>
</div>
<div class="references">
  <div class="wrapper">
    <img src="/assets/fielmannlogo.svg" />
    <img src="/assets/jimdo-logo.svg" />
    <img src="/assets/xinglogo.svg" />
    <img src="/assets/cellular_logo.svg" />
    <img src="/assets/sumcumo.svg" />
  </div>
</div>

<div class="hello">
  <div class="wrapper">
      <img src="/assets/fresse7.jpg"  />

      <h2>Hi! My name is Hannes. 👋</h2>
      <h3>I do TypeScript and <a href="/#skills">stuff</a></h3>
  </div>
</div>
