<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>
<h3>Was this post valuable for you?</h3>
<p>
  Cool! Here is how you can give back if you want to: (<em>only pick a few</em> 😉)
</p>
<ul>
  <li>
    <a
      href="https://github.com/Xiphe/xiphe.github.io/edit/master/{{page.path}}"
      >Fix typos or improve my phrasing 💖</a
    >
  </li>
  <li>Share the article to people that might also like it</li>
  <li>
    <a href="https://twitter.com/XipheHH">Follow me on Twitter</a>
  </li>
  <li>
    <a href="https://github.com/sponsors/Xiphe">Sponsor me on GitHub</a>
  </li>
  {{ page.cta }}
  <li>Spread love, peace and sanity</li>
  <li>Act to save our planet</li>
  <li>
    Be inclusive to everyone but the intolerant (because
    <a href="https://en.wikipedia.org/wiki/Paradox_of_tolerance"
      >the paradox of tolerance</a
    >
    is a thing).
  </li>
</ul>

Thanks for reading! Be safe ✌️
